html {
    scroll-behavior: smooth;
}

body
{
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #043559;
}


p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #D2B201 ;
    /* Moss Green */
    color: #fff;
}

.container-fluid {
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-4{
    background-color: #020202;
    color:#fff;
}

.imgDiv {
    height: 350px;
    overflow: hidden;
}

.gallery {
    width: 100%;

    box-shadow: grey 2px 2px 5px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}


.navbar-nav li a:hover {
    color: #001c00 !important;
}